.header-area {
    position: relative;
    background: linear-gradient(to bottom, #cfd6ff, #e1e7ff, #f8fbff);
}
.header-area::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // background-image: url('./../img/coffee.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    background-position: 100% 100%;
}
.sub-header-area {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    // height: 500px;
    background-position: center;
    @media screen and (max-width:567px) {
        background-position: right;
    }
    .headertopbanner{
        margin-top: 85px;
        h1{
            font-size: 2.7rem;
            color: #3d486a;
            margin-top: 140px;
            font-weight:700;
            @media screen and (max-width:567px){
                margin-top: 40px;
                font-size: 39px;
            }
            @media screen and (min-width:600px) and (max-width:993px) {
                margin-top: 0px;
                font-size: 2.2rem;
            }
            @media screen and (min-width:994px) and (max-width:1200px) {
                margin-top: 0px;
            }
        }
        p{
            font-size: 1.2rem;
            color: #6f7c8a;
            padding: 10px 0 20px 0;
            line-height: 30px;
        }
        a{
            display: inline-block;
            border: none;
            border-radius: 30px;
            font-family: 'Poppins';
            font-weight: normal;
            padding: 7px 50px 7px 50px;
            color: #fff;
            font-size: 1.125em;
            line-height: 2;
            background-color: #FF5E8D;
        }
        a:hover {
            text-decoration: none;
        }
        img {
            width: 100%;
        }
    }
 
}
